<h3>Edit Post</h3>
<form action="/api/post/edit/{{post.id}}" method="POST" class="my-form">
    <fieldset>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{post.title}}" required>
    </fieldset>

    <fieldset>
        <label for="body">Body:</label>
        <textarea id="body" name="body" rows="10" cols="50" required> {{post.body}}</textarea>
    </fieldset>
    <input type="hidden" name="user_id" value="{{user.id}}">

    <div>
        <button class="btn btn-primary" type="submit">Update Post</button>
    </div>
</form>