<h2>Login</h2>
<form action="/api/user/login" method="POST" class="my-form">
    <fieldset>
        <label for="username">Username:</label>
        <input type="text" id="username" value="artart" name="username" required>
    </fieldset>
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" id="password"  value="artartart" name="password" required>
    </fieldset>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
