<form action="/api/user/signup" method="post">
    <fieldset>
        <label for="">Username</label>
        <input type="text" name="username">
    </fieldset>
     <fieldset>
        <label for="">Password (at least 8 characters long)</label>
        <input type="text" name="password">

    </fieldset>
    <input type="submit" value="Sign Up">
</form>